body {
    font-family: 'Poppins';
}

.navbar {
    background:
        /* linear-gradient(red, transparent), */
        linear-gradient(to top left, #246ec0, transparent),
        linear-gradient(to top right, #8a69ab, transparent);
    background-blend-mode: screen;
    padding: 1.0rem 1.5rem;

}

.navbar-light .navbar-brand {
    color: rgb(255 254 254 / 90%);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(253 253 253 / 50%);
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    font-size: 1.0rem;

}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    font: normal 16px 'Poppins';
}

li,
a {
    display: inline-block;
    text-align: center;
}

a {
    padding: 4px 8px;
    text-decoration: none;
    color: rgb(50, 50, 97);
}

a:hover {
    color: rgb(50, 50, 97);
    font-style: italic;
}

a::after {
    content: attr(title);
    font-style: italic;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}