body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    padding: 1.5rem 1.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    font-size: 1.25rem;
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}