{% extends "Base.html" %}
{% block title %} Camera {% endblock %}
{% block content %}
<!doctype html>
<div class="container mt-5">
  <div class="d-flex flex-column align-items-center">
    <h3 class="mb-4">Live Camera Feed</h3>
    <div class="camera-container">
      <video id="camera-stream" autoplay></video>
    </div>
    <form method="POST" src="{{ url_for('camera') }}">
      <button type="submit" name="submit_button" value="Start" class="btn btn-primary mt-3">Start Camera</button>
      <button type="submit" name="submit_button" value="Stop" class="btn btn-danger mt-3">Stop Camera</button>
    </form>
  </div>
</div>
{% endblock %}